


.main-body{
width:500px;
height:300px;
text-align: center;
background-color :#ffb793;
border:2px black;
margin: 50px auto;
padding: 0px;
}

.main-body h3{
 font-style: italic;
 font-size:2em;
 padding:0;
 margin: 0;
}

.container{

  background-color: grey;
margin :20px;
height:200px ;
padding-top: 20px;
}


#calculateBtn{
background-color: #f4f2f0;
line-height: 20px;
font-style: italic;
}
